# Tuples

In [2]:
tuple=("dog","cat","monkey")
print(tuple)

('dog', 'cat', 'monkey')

In [1]:
# we can't delete, replace, insert in the tuples because tuple is immutable.
num=()
print(type(num))

<class 'tuple'>

In [1]:
tuple=("dog","cat","monkey")
print(tuple)

# Error: can't modified it.
tuple(2)="elephant"
print(tuple)

('dog', 'cat', 'monkey')

# Sorted

In [7]:
#Sorted function for all list, dictionary, tuple and this returns the output in list.
tuple=(8,6,3,1,5,2)
print(tuple)
print(sorted(tuple))
tup1=sorted(tuple)
print(tup1)
print(type(tup1))
tup1[2]="elephant"
print(tup1)

(8, 6, 3, 1, 5, 2)
[1, 2, 3, 5, 6, 8]
[1, 2, 3, 5, 6, 8]
<class 'list'>
[1, 2, 'elephant', 5, 6, 8]

In [5]:
def SortBySec(element):               #method1: sorted by second value.
    return element[1]
tuple=((4,1),(3,2),(2,9),(5,6))
print(sorted(tuple,key=SortBySec))

[(4, 1), (3, 2), (5, 6), (2, 9)]

# Len

In [8]:
tuple=(1,2,35,5,5)
print(tuple)
print(len(tuple))

(1, 2, 35, 5, 5)
5

# Membership

In [10]:
tuple=(1,2,35,"shivam",5)
print(1 in tuple)
print("shivam" not in tuple)

True
False

# Concatenation

In [11]:
tup1=(1,2,3,5,5)
tup2=("shivam", "Roni")
print(tup1+tup2)

(1, 2, 3, 5, 5, 'shivam', 'Roni')

# Min , Max , Sum

In [14]:
tup1=(1,2,3,5,5)
print(min(tup1))
print(max(tup1))
print(sum(tup1))

1
5
16