# Python Basics (Inbuild DataStructure)

In [4]:
Animal=["dog","Monkey","Lion"]
print(Animal)

['dog', 'Monkey', 'Lion']

In [5]:
Animal=["dog","Monkey","Lion"]
print(Animal[1])

Monkey

In [1]:
List=["Dryfruits","mango","Ginger","Potato",105,205,305,305]
print(List)

['Dryfruits', 'mango', 'Ginger', 'Potato', 105, 205, 305, 305]

In [8]:
List2=[["Mango","DryFruits"],["Potato","Tomato"]]
print(List2)
print(List2[0][1])

[['Mango', 'DryFruits'], ['Potato', 'Tomato']]
DryFruits

# for loop in list

In [12]:
List=[10,20,30,40,50]
for num in List:
    print(num,end=(" "))
for num in List:
    print(num)

10 20 30 40 50 10
20
30
40
50

# List Operations

# Replace , Insert , Sort , Delete , Append , Reverse

In [13]:
#Replace operation
List=[10,20,30,40,50]
print(List)
List[2]=3.5
print(List)

[10, 20, 30, 40, 50]
[10, 20, 3.5, 40, 50]

In [15]:
#Insert operation
List=[10,20,30,40,50]
print(List)
List.insert(2,"Hello")
print(List)

[10, 20, 30, 40, 50]
[10, 20, 'Hello', 30, 40, 50]

In [22]:
#Sort Operation  (We can't perform sort operation from where the Mix value present Like Integer and String)
List1=[10,80,70,40,15]
List1.sort()
print(List1)
List2=["shivam","Jainendra","Akash"]
List2.sort()
print(List2)

[10, 15, 40, 70, 80]
['Akash', 'Jainendra', 'shivam']

In [ ]:
#Delete Operation
List=[10,80,70,40,15]
print(List)
del List[2]
print(List)
del List
# print(List)   Shows error because List got deleted

In [26]:
#Append  Operation
Animal=["cat","Dog","Lion"]
Animal.append("Donkey")
print(Animal)

['cat', 'Dog', 'Lion', 'Donkey']

In [27]:
# Reverse Operation
Animal=["cat","Dog","Lion"]
List=[10,80,70,40,1]
Animal.reverse()
List.reverse()
print(Animal)
print(List)

['Lion', 'Dog', 'cat']
[1, 40, 70, 80, 10]

# Exersize

In [32]:
List=[10,80,70,40,1]
Animal=["cat","Dog","Lion"]

#Replace
List[2]=500 
Animal[2]="Elephant"
print(List)
print(Animal)

#Append
List.append(1000)
Animal.append("Hippo")
print(List)
print(Animal)

#Delete
del List[1]
del Animal[1]
print(List)
print(Animal)
 
#sort
List.sort()
Animal.sort()
print(List)
print(Animal)

#Reverse
List.reverse()
Animal.reverse()
print(List)
print(Animal)

#Insert
List.insert(0,"Queen")
Animal.insert(0,"Tomi")
# List("Toffy")  This shows error because here we need to insert index as well as value
print(List)
print(Animal)

[10, 80, 500, 40, 1]
['cat', 'Dog', 'Elephant']
[10, 80, 500, 40, 1, 1000]
['cat', 'Dog', 'Elephant', 'Hippo']
[10, 500, 40, 1, 1000]
['cat', 'Elephant', 'Hippo']
[1, 10, 40, 500, 1000]
['Elephant', 'Hippo', 'cat']
[1000, 500, 40, 10, 1]
['cat', 'Hippo', 'Elephant']
['Queen', 1000, 500, 40, 10, 1]
['Tomi', 'cat', 'Hippo', 'Elephant']