# List Sequences

# Len ,  Slice ,  Index ,  Concatenation ,  Select ,  Count  ,  Membership

In [3]:
list1=[1,1,2,3,45,5]
print(list1)
print(len(list1))

[1, 1, 2, 3, 45, 5]
6

In [8]:
list1=[1,1,"shivam",3,45,5]
print(list1[:2])
print(list1[:])
print(list1[1:])
print(list1[1:2])
print(list1[2:2])

[1, 1]
[1, 1, 'shivam', 3, 45, 5]
[1, 'shivam', 3, 45, 5]
[1]
[]

In [13]:
#Index
list1=[1,1,"shivam",3,45,5]
print(list1.index(1))
print(list1.index("shivam"))

0
2

In [15]:
#Select
list1=[1,1,"shivam",3,45,5]
list2=["rocky","roni"]
print(list1+list2)

[1, 1, 'shivam', 3, 45, 5, 'rocky', 'roni']

In [5]:
list1=[1,1,"shivam",3,45,5]
print(list1[3])
print(list1[2])
print(list1[0])

3
shivam
1

In [11]:
list1=[1,1,"shivam",3,45,5]
print(list1.count(1))
print(list1.count("shivam"))

2
1

In [14]:
list1=[1,1,"shivam",3,45,5]
print(1 in list1)
print("shivam" not in list1)

True
False

# Min value ,  Max value ,  Sum

In [35]:
list1=[1,1,3,45,5]
print(min(list1))
list2=['a','f','d','l']
print(min(list2))
list2=['a','f','d','l','2','1']         #min function only worked on one type of value not mixed.
print(min(list2))
# list2=['a','f','d','l',2,1,0]
# print(min(list2))

1
a
1

In [36]:
list1=[1,1,3,45,5]
print(max(list1))
list2=['a','f','d','l',"200",'58']
print(max(list2))   
print(ord('l'))
# print(ord("200"))                          #Only charecter has the ordinary value , not String.
# list2=['a','f','d','l',2,1,0]            #max function only worked on one type of value not mixed.
# print(max(list2))

45
l
108

In [30]:
list1=[1,1,3,45,5]
print(sum(list1))
# list2=['a','f','d','l']          #Error: we can't sum charecter
# print(sum(list2))

55

# list Copy function , Sort , Sorted

In [24]:
list1=[1,1,3,45,5]
list2=list1
print(list1)
print(list2)
list1[2]="Ravi"       #Both the list value get changed because list2 stores the list1 addresh, not copy.
print(list1)
print(list2)

print(end='\n')
result=[x**2 for x in [1,2,3]]
print(result)

[1, 1, 3, 45, 5]
[1, 1, 3, 45, 5]
[1, 1, 'Ravi', 45, 5]
[1, 1, 'Ravi', 45, 5]

[1, 4, 9]

In [31]:
lis=[1,1,3,45,5]
list3=lis.copy()
print(lis)
print(list3)
lis[2]="shivam"       #Both the list value not get changed because list2 stores the list1 copy, not addresh.
print(lis)
print(list3)

[1, 1, 3, 45, 5]
[1, 1, 3, 45, 5]
[1, 1, 'shivam', 45, 5]
[1, 1, 3, 45, 5]

# Sort function only for list, this is built in method.

In [3]:
list=[1,8,6,4,3,7]
list.sort()
print(list)
list.sort(reverse=True)            #Reverse is optional argument and it's bydefault value is false.
print(list)                        #after appling the function need to be print seprately.

[1, 3, 4, 6, 7, 8]
[8, 7, 6, 4, 3, 1]

In [9]:
list=['aaa','bb','d','rrr','ww']
list.sort()
print(list)
list.sort(reverse=True)
print(list)
list.sort(key=len)           #in sort function there is an argument which is bydefault.
print(list)

['aaa', 'bb', 'd', 'rrr', 'ww']
['ww', 'rrr', 'd', 'bb', 'aaa']
['d', 'ww', 'bb', 'rrr', 'aaa']

# Sort function : Through the lambda method and function

In [34]:
list=[[4,1],[3,2],[2,9],[5,6]]
list.sort()                           #sorted by first value of sublist.
print(list)

list.sort(key=lambda x:x[1])          #method1: sorted by second value.
print(list)

[[2, 9], [3, 2], [4, 1], [5, 6]]
[[4, 1], [3, 2], [5, 6], [2, 9]]
[[4, 1], [3, 2], [5, 6], [2, 9]]

In [ ]:
def SortBySec(element):               #method2: sorted by second value.
    return element[1]
list=[[4,1],[3,2],[2,9],[5,6]]
list.sort(key=SortBySec)
print(list)

# Sorted function for list, tuple, Dictionary.

In [36]:
list=[1,2,3,8,6,4]
li=sorted(list)
lis=list.sort()          #return nothing but make list sort.
print(lis)
print(li)
print(list)

None
[1, 2, 3, 4, 6, 8]
[1, 2, 3, 4, 6, 8]

In [40]:
list=[1,2,3,8,6,4]
print(sorted(list,reverse=True))

[8, 6, 4, 3, 2, 1]

In [41]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.