# Set

In [2]:
set1={"apple","banana",1,2,3}      
print(set1)
set1={1,2,3,4,5,6}
print(set1)
set1={"Shivam","Jainedra","ravi"}
print(set1)

{1, 2, 3, 4, 5, 6}
{'ravi', 'Jainedra', 'Shivam'}

In [22]:
set1={6,2,3,8,4,1}           #set automaticly return the sorted value.
print(set1)

{1, 2, 3, 4, 6, 8}

# Add

In [5]:
set1={"Shivam","Jainedra","ravi"}
set1.add("rahul")
print(set1)
set1.add(1)
print(set1)
set1={"shiv",1,2,3}
print(set1)

{'ravi', 'Jainedra', 'rahul', 'Shivam'}
{1, 'Shivam', 'ravi', 'rahul', 'Jainedra'}
{1, 2, 3, 'shiv'}

# Frozenset

In [8]:
set1={9,8,4,3,3,4,4,4}      # set can ot have the repitative value.
print(set1)
set2=frozenset(set1)        #frozenset create set which should not e updatale.
print(set2)
# set2.add("shivam")
# set2.add(1)
# print(set2)

{8, 9, 3, 4}
frozenset({8, 9, 3, 4})

# Emptyset

In [12]:
set1={}                #this create dictioary not set.
print(type(set1))
set1=set()
print(set1)            #this create empty set.
set1={1,}
print(type(set1))
print(set1)

<class 'dict'>
set()
<class 'set'>
{1}

# Copy set

In [15]:
set1={1,2,3,4,5,"shiv"}
print(set1)
set2=set(set1)
print(set2)
set2.add("Baranwal")
print(set1)
print(set2)

{1, 2, 3, 4, 5, 'shiv'}
{1, 2, 3, 4, 5, 'shiv'}
{1, 2, 3, 4, 5, 'shiv'}
{1, 2, 3, 4, 5, 'shiv', 'Baranwal'}

# Set Operations

# Membership,   Intersection,   Add,   Difference,   Remove

In [17]:
#membership
set2={1,2,3,4.5,6}
print(2 in set2)
print(2 not in set2)

True
False

In [19]:
#Add
set={1,2.3,4}
set.add("shivam")
print(set)

{1, 2.3, 4, 'shivam'}

In [21]:
#Remove
set={"shiv",4,2,3}
set.remove(3)
print(set)

{2, 'shiv', 4}

In [25]:
#Intersection
set1={1,2,3}
set2={1,8}
print(set1&set2)

{1}

In [26]:
#Difference
set1={1,2,3,4}
set2={1,2,5,8}
print(set1-set2)
print(set2-set1)

{3, 4}
{8, 5}

# Sym.difference,  Union,  Size,  Clear,  Copy

In [23]:
#Union
set1={1,2,3,4,5,"shiv"}
set2={1,9,8,6,2}
print(set1|set2)

{1, 2, 3, 4, 5, 'shiv', 6, 8, 9}

In [24]:
#Clear
set1={1,2,3,40}
print(set1)
set1.clear()
print(set1)

{40, 1, 2, 3}
set()

In [29]:
#Size (len)
set1={1,2,3,4,5}
print(len(set1))

5

In [28]:
#Copy
set1={1,2,3,4}
set2=set1.copy()
print(set1)
print(set2)
set1.add("shiv")
print(set1)
print(set2)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 'shiv'}
{1, 2, 3, 4}

In [30]:
#Sym. difference
set1={1,2,3,4}
set2={1,2,8,9}
print(set1^set2)

{3, 4, 8, 9}