# String

# Count , Endswith , Startswith , Capitalize , find

In [30]:
str1="hello! this side shivam"
print(str1)
print(str1.capitalize())

hello! this side shivam
Hello! this side shivam

In [9]:
str1="""johny johny yes papa 
eating sugar no papa 
telling a lie no papa
open your mouth hahaha"""
print(str1)
print(str1.count("no"))
print(str1.count("johny"))
print(str1.count("papa"))

johny johny yes papa
eating sugar no papa
telling a lie no papa
open your mouth hahaha
2
2
3

In [16]:
str1="www.google.com"
print(str1)
print(str1.endswith("m"))
print(str1.endswith(".com"))
print(str1.endswith("tata"))
print(str1.startswith("w"))
print(str1.startswith("johny"))

www.google.com
True
True
False
True
False

In [29]:
str2="Leeca is my first website"
print(str2.find("my"))
print(str2.find(" "))
print(str2.find("website"))

9
5
18

# Split of string

In [28]:
str2="Leeca is my first website"
print(str2.split(" "))
list1=list(str2.split(" "))
print(list1)
print(list1[1])

['Leeca', 'is', 'my', 'first', 'website']
['Leeca', 'is', 'my', 'first', 'website']
is

In [36]:
str2="Leeca is my first website"
print(str2.split("s"))
print(str2)
print(len(str2))
print(str2.split())                         #By default takinf split as space.

['Leeca i', ' my fir', 't web', 'ite']
Leeca is my first website
25
['Leeca', 'is', 'my', 'first', 'website']

# Title and Len

In [37]:
# Title make each word first letter as a capital
print(str2.title())

Leeca Is My First Website

In [38]:
#len function return length of the string.
str2="Leeca is my first website"
print(len(str2))

25

# Lower , Islower , Upper , Isupper

In [41]:
str3="zedoor Is My Website"
print(str3.lower())
print(str3)
str=str3.lower()
print(str3.islower())
print(str.islower())

zedoor is my website
zedoor Is My Website
False
True

In [43]:
str3="zedoor Is My Website"
print(str3.upper())
print(str3)
str=str3.upper()
print(str3.isupper())
print(str.isupper())

ZEDOOR IS MY WEBSITE
zedoor Is My Website
False
True

# Swapcase

In [44]:
#Swapcase reverse the order of strinf, convert lower case to upper case and upper case to lower case.
str4="Tordo IS My sEcond webSite"
print(str4.swapcase())

tORDO is mY SeCOND WEBsITE

# Replace

In [46]:
str5="Hello! welcome Shivam Baranwal"
print(str5)
print(str5.replace("Shivam","Shaju"))
print(str5)
print(str5.replace('w','W'))
print(str5.replace("w","W"))

Hello! welcome Shivam Baranwal
Hello! welcome Shaju Baranwal
Hello! welcome Shivam Baranwal
Hello! Welcome Shivam BaranWal
Hello! Welcome Shivam BaranWal

# Isdigit and Isalpha

In [50]:
# Isdigit return true if the is Digit Otherwise false.
str6="12345"
print(str6.isdigit())
str6="1254g"
print(str6.isdigit())
str6="12345 "                         #Space in String algo return false in isdigit function.
print(str6.isdigit())

True
False
False

In [51]:
# Isalpha return true if string has only character Otherwise false.
str6="hello"
print(str6.isalpha())
str6="1234g"
print(str6.isalpha())
str6="Hello "                        #Space in string also gives false in isalpha function.
print(str6.isalpha())

True
False
False

# Strip , lstrip , rstrip

In [1]:
str7="!!!! hello!"
print(str7)
print(str7.strip("!"))

!!!! hello!
 hello

In [4]:
#Strip function only remove charecter from starting and the end, not from middle.
str7="@@ hello @@ world@@"
print(str7)
print(str7.strip("@"))

@@ hello @@ world@@
 hello @@ world

In [5]:
str7="!! hello!! world!! "     #Space does not striped.
print(str7.strip("!"))
print(str7.lstrip("!"))

 hello!! world!!
 hello!! world!!

In [6]:
str7="!! hello world!!!"
print(str7)
print(str7.rstrip("!"))

!! hello world!!!
!! hello world

# Translate , Maketrans

In [17]:
#maketrans can take three argument ,if take an argument that will be dictionary. it create table to translate the charecter.
string="hello this side Shivam"
dict1={"h":"1","t":"2","S":"3"}
table=string.maketrans(dict1)
print(table)

{104: '1', 116: '2', 83: '3'}

In [ ]:
#translate function use maketrans for transform the string.

In [18]:
string="hello this side Shivam"
dict1={"h":"1","t":"2","S":"3"}
table=string.maketrans(dict1)
print(table)
print(string.translate(table))

{104: '1', 116: '2', 83: '3'}
1ello 21is side 31ivam

In [20]:
#two argument in maketrans, first is translated into second argument.
String="helo this side shivam"
str1="hesiv"
str2="523dt"
table=String.maketrans(str1,str2)
print(table)
print(String.translate(table))

{104: 53, 101: 50, 115: 51, 105: 100, 118: 116}
52lo t5d3 3dd2 35dtam

In [21]:
#third argument in maketrans use for remove that charecter from the string.
String="Hello this side shivam"
str1="helsi"
str2="98tre"
str3="om"
table=String.maketrans(str1,str2,str3)
print(table)
print(String.translate(table))

{104: 57, 101: 56, 108: 116, 115: 114, 105: 101, 111: None, 109: None}
H8tt t9er red8 r9eva

# translate()----->table------>maketrans()